<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
  <appSettings>
    <!-- Twitter Stage-->
    <add key="strCostumerKey" value="uYRBxCDIxK4jMnwtRLgg2UJG2" />
    <add key="strCostumerSecret" value="sYOk7QsDcHBfn28QMbpbid8hV7dwCnsYlccFPGGCAJgu1Q20jA" />
    <add key="strTwitterName" value="Stage ID Cinepolis" />
    <add key="strAccessToken" value="2923244996-Btnj4Wi9y5S7KB6ZzcuRfBxczfg0maWLvL9aD5l" />
    <add key="strDefaultCallback" value="http://localhost:60977/Account/TwitterCallback" />
    <!--<add key="DefaultCallback" value="http://stage.cinepolis.com/Compra/Account/TwitterCallback" />-->
  </appSettings>
</configuration>
